<header>
	<nav>
		<ul>
		        <li><a href="/">Inicio</a></li>
			<li><a href="/products/index">Productos</a></li>
			<li><a href="/products/marca/default">Marca</a></li>
			<li><a href="/products/color/default">Color</a></li>
			<li><a href="/products/modelo/default">Modelo</a></li>
			<li><a href="/products/anio/default">Año</a></li>
		</ul>
	</nav>
</header>